.page {
    max-width: 1280px;
    background-color: #2A2C2F;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    margin: 0 auto;
}

/* body, header, div, ul, li, section, h1, h2, h3, h4, p {
    border: red solid 1px;
} */