.lead {
    max-width: 984px;
    margin: 49px auto 0;
}

@media (max-width: 1024px) {
    .lead {
        max-width: 928px;        
        margin: 48px auto 0;
    }
}

@media (max-width: 525px) {
    .lead {   
        margin: 39px auto 0;
    }
}

